/* JuicePage.css */

.juice-page-container {
    padding: 20px;
  }
  
  .juice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .juice-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .juice-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .juice-info h3 {
    margin: 0;
  }
  
  .juice-info p {
    margin: 0;
  }
  